<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <table>
      {% for 車站 in 線路圖 %}
      <tr>
	<td>
	  {% for 車輛 in 車站['將到車輛']['上行'] %}
	  <div>
	    {{ 車輛['發班時間'] }}
	    {% if 車輛['班次類型'] == '短线' %}
	    ({{ 車輛['終點站'] }})
	    {% endif %}
	  </div>
	  {% endfor %}
	</td>
	<td>
	  {% if 車站['上行分站'] is none %}
	  ×	  
	  {% elif 車站['上行分站'] != '0' %}
	  {{ 車站['上行分站'] }}
	  {% endif %}
	</td>
	<td>
	  {{ 車站['車站名稱'] }}
	</td>
	<td>
	  {% if 車站['下行分站'] is none %}
	  ×
	  {% elif 車站['下行分站'] != '0' %}
	  {{ 車站['下行分站'] }}
	  {% endif %}
	</td>
	<td>
	  {% for 車輛 in 車站['將到車輛']['下行'] %}
	  <div>
	    {{ 車輛['發班時間'] }}
	    {% if 車輛['班次類型'] == '短线' %}
	    ({{ 車輛['終點站'] }})
	    {% endif %}
	  </div>
	  {% endfor %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
